* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  overflow: hidden;
  background: url('bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.scene,
canvas{
  position: absolute;
  width: 100%;
  height: 100%;
}
.scene{
  cursor: pointer;
}
